/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
  padding: 80px;
}

.content-mid-header {
  background: #444;
  width: 100px;
  height: 100px;
}

.content-container {
  width: 100px;
  height: 100px;
}

.content {
  background: #d8d8d8;
  padding: 20px;
}
